

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

SECRET_KEY=ABCDEFGcvBl_IfiSn1EZPhmqRo11xzSTO63

MONGODB_DB_HOST=127.0.0.1
MONGODB_USER=root
MONGODB_PASSWORD=123456
MONGODB_DATABASE=akbarpriyonoharyadi_test
MONGODB_DOCKER_PORT=27017

REDIS_HOST=127.0.0.1
REDIS_USER=root
REDIS_PASSWORD=123456
REDIS_DOCKER_PORT=6379